{% extends 'base.html' %}
{% load static %}
{% block content %}
</head>
<body bgcolor="#ffc0cb" text="#9400d3">
<h1>This is Second Page</h1>
<h2> วาดไว้ </h2>
<p>
    ได้เจอครั้งสุดท้ายตอนที่ดูรูปถ่าย
และเมื่อหลับตาครั้งใดยังเห็นเธอ
กอดเธอในฝัน ฉันน้ำตาล้นเอ่อ
สุขเพียงได้เจอในจินตนาการ <br>

แม้เพลงนี้เธอไม่ได้ฟัง
ทุกทุกคำที่เคยบอกไว้
งดงามแม้ยิ่งห้ามใจ
ฉันจำได้เสมอ

ที่เธอเคยบอกฉัน อย่าร้องไห้
อยู่ให้ได้ถ้าเธอไม่อยู่
โปรดรับรู้เธอยังอยู่ในใจ <br>

ที่เธอเคยบอกฉัน อย่าร้องไห้
อยากขอโทษที่ทำไม่ได้
ที่วาดไว้ด้วยกัน
จากนี้ฉันต้องฝันคนเดียว

บรรจงวาดฝันให้งดงามเหมือนเก่า <br>
สุขเกิดเพียงเราถ่วงทุกข์ให้จมดิ่ง
เพียงแค่ตื่นนั้นก็เลือนลางทุกสิ่ง
เพราะความเป็นจริงนั้นมีบางสิ่งที่จากไป

แม้เธอนั้นไม่หวนคืนกลับ
ใจซึมซับไปด้วยความหมาย
เหมือนว่ามีเธอข้างกาย ยังจำได้เสมอ

ที่เธอเคยบอกฉัน อย่าร้องไห้
อยู่ให้ได้ถ้าเธอไม่อยู่
โปรดรับรู้เธอยังอยู่ในใจ

ที่เธอเคยบอกฉัน อย่าร้องไห้
อยากขอโทษ ที่ทำไม่ได้
ที่วาดไว้ด้วยกัน

แต่ว่าเธอไม่ได้มาส่งถึงฝั่งฝันไกล
นานแค่ไหนยังคงวาดไว้ว่าเรามีกัน

ที่เธอเคยบอกฉัน อย่าร้องไห้
อยู่ให้ได้ถ้าเธอไม่อยู่
โปรดรับรู้เธอยังอยู่ในใจ <br>

ที่เธอเคยบอกฉัน อย่าร้องไห้
อยากขอโทษที่ทำไม่ได้
ที่วาดไว้ด้วยกัน จากนี้ฉันต้องฝันคนเดียว <br>
    <a href="/firstpage" class="btn btn-danger">Go to First Page</a> <br>
    <a href="/thirdpage" class="btn btn-warning">Go to Third Page</a> <br>


</p>

{% endblock %}