{% extends 'base.html' %}
{% load static %}
{% block content %}
<H1> This is Test Bootstrap </H1>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="btn-close"></button>
            <strong>สำเร็จ!</strong>
            ท่านลงทะเบียนบัญชีผู้ใช้เรียบร้อยแล้ว
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<br>
    <div class="alert alert-danger"></div>
{% endblock %}
